<!DOCTYPE html>
<html>
  <head>
    <title>RePlay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
  

    <script type='text/javascript'>
    window.google_logo = '<%= image_url('google-logo.png') %>'
    window.replay_logo = '<%= image_url('replay_logo.png') %>'
    window.shield = '<%= image_url('shield.png') %>'
    window.peace = '<%= image_url('peace.png') %>'
    </script>



    <% if current_user %>
      <script>
        window.currentUser = {
          'id': <%= current_user.id.to_i %>,
          'email': "<%= current_user.email %>",
          'first_name': '<%= current_user.first_name %>'
        };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
